@media(max-width: 1326px) {
    .nav__item {
        margin-right: 2%;
    }

    .info__women {
        left: -231px;
    }
}

@media(max-width: 1275px) {
    .info__bg {
        width: 100%;
    }

    .info__women {
        left: -60%;
    }

    .info__diagrama {
        left: 75%;
    }

    .info__speed {
        left: 80%;
        top: 85%;
    }

    .info__btn {
        margin-left: 5%;
    }

    /* .info__btn .tried__btn { //////////////////////////////////////////////////////////////////
        margin-left: 11111111111111;
    } */

    .info__title, .info__text {
        margin-left: 1%;
    }
}

@media (max-width: 1150px) {
    .info__img__block {
        display: none;
        width: 0;
    }

    .info__title {
        margin-left: 30%;
        width: 130%;
        text-align: center;
    }

    .info__text {
        margin-left: 47%;
        width: 100%;
        text-align: center;
    }

    .info__btn {
        margin: 0;
        margin-left: 80%;
        margin-top: 5%;
        width: 35%;
    }

    .tried__btn {
        margin-left: 0%;
    }
}

@media(max-width: 1100px) {
    .function__block {
        margin-right: 0;
    }
}

@media(max-width: 900px) {
    .men__text__block {
        margin-right: 20.43vw;
    }
}

@media(max-width: 835px) {
    .info__text {
        font-size: 1.95vw;
    }

    .service__text {
        font-size: 1.95vw;
    }

    .function__text {
        font-size: 1.95vw;
    }

    .service__card__block {
        flex-wrap: wrap;
        margin-left: 4%;
        margin-right: 0;
    }

    .service__card {
        margin-right: 0;
    }

    .subtext__men {
        font-size: 1.95vw;
    }

    .video__text {
        font-size: 2vw;
    }
}

@media(max-width: 825px) {
    .service__card__block {
        margin-left: 22.73vw;
    }
}

@media(max-width: 736px) {
    .nav__list {
        display: flex;
        flex-wrap: wrap;
    }

    .nav__item {
        width: 20%;
        margin-top: 5%;
    }

    .service__card__block {
        margin-left: 22.73vw;
    }

    .men__img__block {
        display: none;
    }

    .men__line {
        display: none;
    }

    .men__text__block {
        margin-right: 0;
    }

    .men__title {
        font-size: 4.64vw;
    }

    .men__text {
        font-size: 2.45vw;
    }

    .logoipsum__text {
        font-size: 2.45vw;
    }

    .video__title {
        font-size: 4.64vw;
        padding-top: 15.43vw;
    }

    .video__text {
        font-size: 3vw;
    }

    .function__title {
        font-size: 4.64vw;
    }
    
    .tried__title {
        font-size: 2.45vw;
    }
}

@media(max-width: 600px) {
    .nav__item {
        width: 30%;
    }
    
    .nav__list {
        flex-direction: column;
    }

    .info__text {
        font-size: 2.45vw;
    }

    .service__text {
        font-size: 2.45vw;
    }

    .function__text {
        font-size: 2.45vw;
    }

    .info__btn {
        font-size: 2.91vw;
        padding: 1.36vw 3.18vw;
        width: 50%;
        margin-left: 73%;
    }

    .tried__btn {
        font-size: 2.91vw;
        padding: 1.36vw 3.18vw;
    }

    .card__title {
        font-size: 2.91vw;
    }

    .function__subtitle {
        font-size: 2.91vw;
    }

    .service__card__block {
        margin-left: 15.73vw;
    }

    .subtext__men {
        font-size: 2.45vw;
    }

    .video__title {
        padding-top: 21.43vw;
    }

    .function__title {
        font-size: 2.91vw;
    }

    .tried__title {
        font-size: 2.91vw;
    }
}

@media (max-width:550px) {
    .footer__undertext {
        padding-bottom: 2.64vw;
        font-size: 1.39vw;
    }
}

@media(max-width: 500px) {
    .active__block {
        background-color: #fff;
        border: 0;
    }

    .service__card__block {
        margin-left: 4.73vw;
    }

    .card__text {
        font-size: 2.45vw;
    }

    .function__subtext {
        font-size: 2.45vw;
    }

    .men__button {
        font-size: 2.45vw;
        padding: 2.36vw 3.73vw;
    }

    .video__text {
        font-size: 2vw;
    }

    .video__title {
        padding-top: 29.43vw;
    }

    .function__block {
        height: 200px;
    }

    .dollar {
        display: none;
    }

    .footer__link {
        font-size: 2.45vw;
    }
}

@media(max-width: 450px) {
    .footer__soclink___wrapper svg {
        width: 2.82vw;
        height: 2.82vw;
    }
}

@media (max-width: 400px) {
    .footer__title {
        font-size: 2.91vw;
    }

    .footer__text {
        font-size: 2.45vw;
    }

    .per__month {
        font-size: 2.45vw;
    }
}

@media(max-width: 350px) {
    .nav__item {
        margin-top: 7%;
    }

    .nav__link .active {
        padding-bottom: 5px;
    }
    
    .info__text {
        font-size: 4.45vw;
        width: 100%;
    }

    .service__text {
        font-size: 3.45vw;
    }

    .function__text {
        font-size: 3.45vw;
    }

    .info__title {
        font-size: 5.45vw;
    }

    .info__title span {
        font-size: 5.45vw;
    }

    .info__btn {
        font-size: 3.91vw;
        width: 70%;
        margin-left: 65%;
    }

    .tried__btn {
        font-size: 3.91vw;
        width: 40%;
        height: 25%;
    }

    .service__title {
        font-size: 5.45vw;
    }

    .men__title {
        font-size: 5.45vw;
    }

    .men__text {
        font-size: 3.45vw;
    }

    .logoipsum__text {
        font-size: 3.45vw;
    } 

    .sebtext__men {
        font-size: 3.45vw;
    }

    .men__button {
        font-size: 3.45vw;
        padding: 3.36vw 4.73vw;
    }

    .video__title {
        font-size: 5.45vw;
    }

    .video__title {
        padding-top: 56.43vw;
    }

    .function__title {
        font-size: 5.45vw;
    }

    .function__text {
        font-size: 3.45vw;
    }

    .function__block {
        height: 120px;
    }

    .blue__line {
        height: 1px;
    }

    .author__name {
        font-size: 3.91vw;
    }

    .author__subtitle {
        font-size: 2.09vw;
    }

    .logoipsum__img {
        width: 35px;
        margin-bottom: 50px;
    }

    .tried__title {
        font-size: 5.45vw;
    }

    .footer__btn {
        border-radius: 2.09vw;
        font-size: 2.45vw;
    }

    .footer__undertext {
        padding-bottom: 2.64vw;
        font-size: 1.99vw;
    }
}

@media(max-width: 300px) {
    .footer__link {
        font-size: 2.95vw;
    }

    .footer__undertext {
        padding-bottom: 2.64vw;
        font-size: 2.59vw;
    }
}

@media(max-width: 250px) {
    .footer__soclink___wrapper svg {
        width: 3.82vw;
        height: 3.82vw;
    }
}

@media (max-width: 200px) {
    .logoipsum__wrapper svg {
        display: none;
    }

    .logoipsum__text {
        padding-top: 50px;
    }

    .footer__btn {
        border-radius: 3.09vw;
        font-size: 3.45vw;
        padding: 2.36vw 3.73vw;
    }

    .footer__undertext {
        padding-bottom: 2.64vw;
        font-size: 3.09vw;
    }
}