@media(max-width: 1326px) {
    .nav__item {
        margin-right: 2%;
    }

    .info__women {
        left: -231px;
    }
}

@media(max-width: 1275px) {
    .info__bg {
        width: 100%;
    }

    .info__women {
        left: -60%;
    }

    .info__diagrama {
        left: 75%;
    }

    .info__speed {
        left: 80%;
        top: 85%;
    }

    .info__btn {
        margin-left: 5%;
    }

    .info__title, .info__text {
        margin-left: 1%;
    }
}

@media (max-width: 1150px) {
    .info__img__block {
        display: none;
        width: 0;
    }

    .info__title {
        margin-left: 30%;
        width: 130%;
        text-align: center;
    }

    .info__text {
        margin-left: 47%;
        width: 100%;
        text-align: center;
    }

    .info__btn {
        margin: 0;
        margin-left: 80%;
        margin-top: 5%;
        width: 35%;
    }
}

@media(max-width: 900px) {
    .men__text__block {
        margin-right: 20.43vw;
    }
}

@media(max-width: 835px) {
    .info__text {
        font-size: 1.95vw;
    }

    .service__text {
        font-size: 1.95vw;
    }

    .service__card__block {
        flex-wrap: wrap;
        margin-left: 4%;
        margin-right: 0;
    }

    .service__card {
        margin-right: 0;
    }

    .subtext__men {
        font-size: 1.95vw;
    }
}

@media(max-width: 825px) {
    .service__card__block {
        margin-left: 22.73vw;
    }
}

@media(max-width: 736px) {
    .nav__list {
        display: flex;
        flex-wrap: wrap;
    }

    .nav__item {
        width: 20%;
        margin-top: 5%;
    }

    .service__card__block {
        margin-left: 22.73vw;
    }

    .men__img__block {
        display: none;
    }

    .men__text__block {
        margin-right: 0;
    }

    .men__title {
        font-size: 4.64vw;
    }

    .men__text {
        font-size: 2.45vw;
    }
}

@media(max-width: 600px) {
    .nav__item {
        width: 30%;
    }
    
    .nav__list {
        flex-direction: column;
    }

    .info__text {
        font-size: 2.45vw;
    }

    .service__text {
        font-size: 2.45vw;
    }

    .info__btn {
        font-size: 2.91vw;
        padding: 1.36vw 3.18vw;
        width: 50%;
        margin-left: 73%;
    }

    .card__title {
        font-size: 2.91vw;
    }

    .service__card__block {
        margin-left: 15.73vw;
    }

    .subtext__men {
        font-size: 2.45vw;
    }
}

@media(max-width: 500px) {
    .active__block {
        background-color: #fff;
        border: 0;
    }

    .service__card__block {
        margin-left: 4.73vw;
    }

    .card__text {
        font-size: 2.45vw;
    }
}

@media(max-width: 350px) {
    .nav__item {
        margin-top: 7%;
    }

    .nav__link .active {
        padding-bottom: 5px;
    }
    
    .info__text {
        font-size: 4.45vw;
        width: 100%;
    }

    .service__text {
        font-size: 3.45vw;
    }

    .info__title {
        font-size: 5.45vw;
    }

    .info__title span {
        font-size: 5.45vw;
    }

    .info__btn {
        font-size: 3.91vw;
        width: 70%;
        margin-left: 65%;
    }

    .service__title {
        font-size: 5.45vw;
    }

    .men__title {
        font-size: 5.45vw;
    }

    .men__text {
        font-size: 3.45vw;
    }

    .subtext__men {
        font-size: 3.45vw;
    }
}
